form:
    - samplesheet
    - run_name
    - af_method
    - prot_mode

cluster: "katana"

attributes:
    samplesheet:
        widget: "text_field"
        pattern: "*.csv^"
        placeholder: "path/to/file(s) or sequence 'NLYIQWLKDGGPSSGRPPPS'"
        required: true
        help: |
            <h4>Acceptable inputs</h4>
            <ul>
                <li>
                    <b>Directory containing Fasta files:</b>
                    <code>/srv/scratch/z3141592/my_experiment</code>
                </li>
                <li>
                    <b>Amino acid sequence:</b>
                    <code>NLYIQWLKDGGPSSGRPPPS</code>
                </li>
            </ul>
    run_name:
        widget: "text_field"
        label: "Run Name"
        placeholder: "Enter your run name"

    af_method:
        widget: "select"
        label: "Method"
        help: |
            <ul>
                <li><b>AlphaFold2.3</b> High Accuracy, Slower - <a href="https://doi.org/10.1038/s41586-021-03819-2">Paper</a></li>
                <li><b>Boltz-1</b> High Accuracy, Faster (Open AlphaFold3 method)<a href="https://doi.org/10.1101/2024.11.19.624167">Paper</a></li>
                <li><b>Chai-1</b> High Accuracy, Faster (Open AlphaFold3 method)<a href="https://www.biorxiv.org/content/10.1101/2024.10.10.615955">Paper</a></li>
                <li><b>ESMFold</b> Medium/Low Accuracy, Fastest (No Evolutionary Sequence Calculations) - <a href="https://doi.org/10.1126/science.ade2574">Paper</a></li>
                <li><b>RoseTTAFold-All-Atom</b> High Accuracy, Slower; optimised for atomic-level modeling - <a href="https://doi.org/10.1126/science.adl2528">Paper</a></li>
            </ul>
        options:
            - ["Alphafold2", "af2", data-hide-mode: false]
            - ["Boltz-1", "bz1", data-hide-mode: true]
            - ["Chai-1", "ci1", data-hide-mode: true]
            - ["ESMFold", "esmf", data-hide-mode: true]
            - ["RoseTTAFold-All-Atom", "rfaa", data-hide-mode: true]

    prot_mode:
        widget: "select"
        label: "Mode"
        options:
            - ["Monomer", "monomer"]
            - ["Multimer", "multimer"]

    citation_request:
        widget: "text_area"
        label: "facility_citation"
        value: "doi.org/10.26190/4KQF-M552"
        help: |
            Please cite the above DOI and include this following acknowledgement in any publication that uses this resource:
            <i>"The authors acknowledge use of facilities in the Structural Biology Facility within the Mark Wainwright Analytical Centre – UNSW,</i>
            <i>funded in part by the Australian Research Council Linkage Infrastructure, Equipment and Facilities Grant: ARC LIEF <b>190100165</b>"</i>
