form:
    - samplesheet
    - run_name
    - af_method
    - prot_mode
    - full_dbs
    - citation_request

cluster: "katana"

attributes:
    samplesheet:
        widget: "text_field"
        pattern: "*.csv^"
        placeholder: "path/to/file(s) or sequence 'NLYIQWLKDGGPSSGRPPPS'"
        required: true
        help: |
            <h4>Acceptable inputs</h4>
            <ul>
                <li>
                    <b>Directory containing Fasta file(s):</b>
                    <code>/srv/scratch/z3141592/my_experiment</code>
                </li>
                <li>
                    <b>Amino acid sequence:</b>
                    <code>NLYIQWLKDGGPSSGRPPPS</code>
                </li>
            </ul>
    run_name:
        widget: "text_field"
        label: "Run Name"
        placeholder: "Enter your run name"
        pattern: '^[A-Za-z0-9_\- ]+$'
        help: |
            <a>Alphanumeric and "_" only</a>

    af_method:
        widget: "select"
        label: "Method"
        help: |
            <ul>
                <li><b>AlphaFold2.3</b> High Accuracy, Slower - <a href="https://doi.org/10.1038/s41586-021-03819-2">Paper</a></li>
                <li><b>ESMFold</b> Medium/Low Accuracy, Fastest (No Evolutionary Sequence Calculations) - <a href="https://doi.org/10.1126/science.ade2574">Paper</a></li>
                <li><b>RoseTTAFold-All-Atom</b> High Accuracy, Slower; optimised for atomic-level modeling - <a href="https://doi.org/10.1126/science.adl2528">Paper</a></li>
            </ul>
        options:
            - ["Alphafold2", "af2"]
            - ["ESMFold", "esmf", data-hide-full_dbs: true]
            - ["RoseTTAFold-All-Atom", "rfaa", data-hide-prot_mode: true]
        display: true

    prot_mode:
        widget: "select"
        label: "Mode"
        help: |
            <ul>
                <li>Only applies to AlphaFold2.3 and ESMFold</li>
                <li>Monomer_ptm for AlphaFold2.3 only</li>
            </ul>
        options:
            - ["Monomer", "monomer"]
            - ["Monomer_ptm", "monomer_ptm"]
            - ["Multimer", "multimer"]
        display: true

    full_dbs:
        widget: "select"
        label: "MSA Search Database"
        options:
            - ["Full", "true"]
            - ["Reduced", "false"]
        display: true
        help: |
            <ul>
                <li><b>Full</b> High Accuracy, Slower</li>
                <li><b>Reduced</b> Optimised for speed</li>
            </ul>

    citation_request:
        label: "Facility Citation"
        class: "d-none"
        help: |
            <b>doi.org/10.26190/4KQF-M552</b>

            Please cite the above DOI and include this following acknowledgement in any publication that uses this resource:
            <i>"The authors acknowledge use of facilities in the Structural Biology Facility within the Mark Wainwright Analytical Centre – UNSW,</i>
            <i>funded in part by the Australian Research Council Linkage Infrastructure, Equipment and Facilities Grant: ARC LIEF <b>190100165</b>"</i>
