form:
    - data_warning
    - samplesheet
    - samplesheet_help
    - run_name
    - af_method
    - prot_mode
    - full_dbs
    - msa_server
    - citation_request
    - katana_citation

cluster: "katana"

attributes:
    data_warning:
        class: "d-none"
        help: |
            <div style="padding: 0.375rem 0.75rem; background-color: #E2BEBE; border: 2px solid #761313; border-radius: 0.25rem; color: #761313;">
              <span><b>Warning!</b> Please ensure your input data (e.g., FASTA file or run name) does not contain sensitive data. Katana is <b>NOT</b> suitable for sensitive or highly sensitive data. You should use the UNSW Data Classification scheme to classify your data and learn about managing your research data by visiting the <a style="color: #5B5050" href="https://research.unsw.edu.au/research-data-management-hub">Research Data Management Hub.</a></span>
            </div>
    samplesheet:
        widget: "path_selector"
        label: "Input"
        pattern: "*.csv^"
        placeholder: "path/to/file(s) or sequence 'NLYIQWLKDGGPSSGRPPPS'"
        required: true
    samplesheet_help:
        class: "d-none"
        label: "Input Options"
        help: |
            • <b>Directory:</b> <code>/srv/scratch/z3141592/my_experiment/</code>
            <br>• <b>Single file:</b> <code>protein.fasta</code>, <code>protein.yaml</code>, or <code>samplesheet.csv</code>
            <br>• <b>Sequence:</b> <code>NLYIQWLKDGGPSSGRPPPS</code> or <code>NLYIQWLKDGGPSSGRPPPS:MKTVRQERLKSDHELFRTHT</code>
            <br>📖 <a href="https://unsw.sharepoint.com/sites/StructuralBiologyFacility-UserDocumentation/SitePages/ProteinFold-User-Guide.aspx?ga=1#preparing-your-inputs">User Guide</a> for advanced options.
    run_name:
        widget: "text_field"
        label: "Run Name"
        placeholder: "Enter your run name"
        pattern: '^[A-Za-z0-9_\- ]+$'
        required: true
        help: |
            <a>Alphanumeric and "_" only</a>

    af_method:
        widget: "select"
        label: "Method"
        help: |
            <ul>
                <li><b>Boltz</b> High accuracy, Faster; Open AlphaFold3 method - <a href="https://doi.org/10.1101/2024.11.19.624167">Paper-1</a> <a href="https://doi.org/10.1101/2025.06.14.659707">Paper-2</a></li>
                <li><b>AlphaFold2.3</b> High accuracy, Slower - <a href="https://doi.org/10.1038/s41586-021-03819-2">Paper</a></li>
                <li><b>ColabFold</b> High accuracy - <a href="https://doi.org/10.1038/s41592-022-01488-1">Paper</a></li>
                <li><b>ESMFold</b> Medium/Low accuracy, Fastest; No evolutionary sequence calculations - <a href="https://doi.org/10.1126/science.ade2574">Paper</a></li>
                <li><b>RoseTTAFold-All-Atom</b> Medium accuracy, Slower; Supports all atom modelling - <a href="https://doi.org/10.1126/science.adl2528">Paper</a></li>
            </ul>
        options:
            - ["Boltz", "boltz", data-hide-prot_mode: true]
            - ["Alphafold2", "alphafold2"]
            - ["ColabFold", "colabfold", data-hide-full_dbs: true]
            - ["ESMFold", "esmfold", data-hide-full_dbs: true]
            - ["RoseTTAFold-All-Atom", "rosettafold_all_atom", data-hide-prot_mode: true]
        display: true

    prot_mode:
        widget: "select"
        label: "Mode"
        help: |
            <b>Only applies to AlphaFold2.3, ColabFold, and ESMFold</b>
        options:
            - ["Monomer_ptm", "monomer_ptm"]
            - ["Multimer", "multimer"]
        display: true

    full_dbs:
        widget: "select"
        label: "MSA Search Database"
        options:
            - ["Reduced", "reduced"]
            - ["Full", "full"]
        display: true
        help: |
            <b>Only applies to AlphaFold2.3</b>
            <ul>
                <li><b>Full</b> High accuracy, slower</li>
                <li><b>Reduced</b> Optimised for speed</li>
            </ul>

    msa_server: "local"
        # widget: "select"
        # label: "MSA Server"
        # options:
        #     - ["Local", "local"]
        #     - ["Webserver", "webserver"]
        # help: |
        #     <ul>
        #         <li><b>Local</b> Use local compute resources</li>
        #         <li><b>Webserver</b> Use remote webserver</li>
        #     </ul>

    citation_request:
        label: "Facility Citation"
        class: "d-none"
        help: |
            <b><a href="https://doi.org/10.26190/4KQF-M552">doi.org/10.26190/4KQF-M552</a></b>


            Please cite the above DOI and include this following acknowledgement in any publication that uses this resource:
            <i>"The authors acknowledge use of facilities in the Structural Biology Facility within the Mark Wainwright Analytical Centre – UNSW,</i>
            <i>funded in part by the Australian Research Council Linkage Infrastructure, Equipment and Facilities Grant: ARC LIEF <b>190100165</b>"</i>

    katana_citation:
        label: "Katana HPC Citation"
        class: "d-none"
        help: |
            <b>If you use Katana for a paper please cite it using the DOI <a href="https://doi.org/10.26190/669x-a286">10.26190/669X-A286</a>.</b>
            <br>
            To see it in the format that you require visit <a href="https://citation.crosscite.org">citation.crosscite.org</a> or use one of the examples below:
            <ul>
                <li>Katana. Published online 2010. doi:10.26190/669X-A286</li>
                <li>Katana. (2010) doi:10.26190/669X-A286.</li>
            </ul>
