form:
    - samplesheet
    - run_name
    - af_method 
    - prot_mode 
    - email

cluster: "katana"

attributes:
    samplesheet:
        widget: "text_field"
        pattern: "*.csv^"
        help: |
            Acceptable inputs
            <ul>
                <li><b>Directory containing Fasta files</b> /srv/scratch/z3545907/Experiment</li>
                <li><b>Amino acid sequence</b> MPGAFSQNSSKRRAVLPRSHR</li>
            </ul>
    email:
        widget: "text_field"
    prot_mode:
        widget: "select"
        label: "Mode"
        options:
            - ["Multimer", "multimer"]
            - ["Monomer", "monomer"]
    af_method:
        widget: "select"
        label: "Method"
        help: |
            <ul>
                <li><b>AlphaFold 2.3</b> High Accurace, Slower</li>
                <li><b>ColabFold</b> Medium Accurace, Faster</li>
                <li><b>ESMFold</b> Medium/Low Accurace, Fastest, No Evolutionary Sequence Calculations</li>
            </ul>
        options:
            - ["Alphafold 2", "af2", data-hide-mode: false]
            - ["ColabFold", "cf", data-hide-mode: true]
            - ["ESMFold", "esmf", data-hide-mode: false]
    run_name:
        widget: "text_field"
        label: "Run Name"
