form:
    - samplesheet
    - run_name
    - af_method 
    - prot_mode 
    - email
    

cluster: "katana"

attributes:
    samplesheet:
        widget: "text_field"
        pattern: "*.csv^"
        help: |
            Acceptable inputs
            <ul>
                <li><b>Directory containing Fasta files</b> /srv/scratch/z3545907/Experiment</li>
                <li><b>Amino acid sequence</b> MPGAFSQNSSKRRAVLPRSHR</li>
            </ul>
    run_name:
        widget: "text_field"
        label: "Run Name"

    af_method:
        widget: "select"
        label: "Method"
        help: |
            <ul>
                <li><b>AlphaFold2.3</b> High Accuracy, Slower - <a href="https://doi.org/10.1038/s41586-021-03819-2">Paper</a></li> 
                <li><b>ESMFold</b> Medium/Low Accuracy, Fastest, No Evolutionary Sequence Calculations - <a href="https://doi.org/10.1126/science.ade2574">Paper</a></li>
                <li><b>RoseTTAFold-All-Atom</b> High Accuracy, Slower - <a href="https://doi.org/10.1126/science.adl2528">Paper</a></li>
                <li><b>HelixFold3</b> High Accuracy, Slower - <a href="https://doi.org/10.48550/arXiv.2408.16975">Pre-print</a></li> 
            </ul>
        options:
            - ["Alphafold2", "af2", data-hide-mode: false]
            - ["ESMFold", "esmf", data-hide-mode: true]
            - ["RoseTTAFold-All-Atom", "rfaa", data-hide-mode: true]
            - ["HelixFold3", "hf3", data-hide-mode: true]

    prot_mode:
        widget: "select"
        label: "Mode"
        options:
            - ["Multimer", "multimer"]
            - ["Monomer", "monomer"]

    email:
        widget: "text_field"
   
   citation_request:
        widget: "text_area"
        label: "facility_citation"
        value: "doi.org/10.26190/4KQF-M552"
        help: | 
            Please cite the above DOI and include this following acknowledgement in any publication that uses this resource:
            <i>"The authors acknowledge use of facilities in the Structural Biology Facility within the Mark Wainwright Analytical Centre – UNSW,</i> 
            <i>funded in part by the Australian Research Council Linkage Infrastructure, Equipment and Facilities Grant: ARC LIEF <b>190100165</b>"</i>
