<% if ! connect.user.blank? %>
<b>Results</b>: <a target="_blank" href="https://kod.restech.unsw.edu.au/pun/sys/dashboard/files/fs/srv/scratch/<%= connect.user %>/proteinfold_output/<%= connect.run_dir %>"><%= connect.run_dir %></a>
<% end %>
